.list-group-item.active {
    background-color: #313538 !important;
    border-color: rgb(17, 19, 16)
}

.pagination>.active>button,
.pagination>.active>button:focus,
.pagination>.active>button:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #313538 !important;
    border-color: rgb(17, 19, 16)
}